.crm-input-file-full
  position relative
  display inline-block
  border 1px solid #eee

  & > .label
    display inline-block
    padding-top 10px
    padding-right 10px
    padding-bottom 10px
    padding-left 10px
    vertical-align middle
    background-color #fafafa
    border-right 1px solid #eee

  & > .value
    display inline-block
    padding 0 5px
    vertical-align middle

    & > input
      margin 0
      padding 0
      border none
      vertical-align middle

  & > .desc
    display inline-block
    vertical-align middle

    & > i
      display inline-block
      margin 0
      padding 0
      margin-right 5px
      vertical-align middle

    & > label
      display inline-block
      padding-right 10px
      vertical-align middle
      font-size 13px

  & > input[type="file"]
    position absolute
    top 0
    right 0
    width 100%
    height 100%
    opacity 0
