.crm-input
  display inline-block
  border 1px solid #ddd
  font-size 13px
  background-color #fff

  & > label
  & > div
    display inline-block
    vertical-align middle

  & > label
    padding 8px 10px
    border-right 1px solid #ddd
    background-color #fafafa

  & > div
    padding-left 5px
    padding-right 5px

    & > .crm-icon
      display inline-block
      vertical-align middle

    & > input
      margin 0
      padding 0
      border none
      outline none
      vertical-align middle

      &[disabled]
        background-color transparent
        cursor not-allowed

    &.dpl
      padding 0
      .list
        font-size 13px

      .crm-dpl
        border none
        text-align left
        font-size 13px

        .value
          padding-top 7px
          padding-bottom 7px
