.crm-menu-item
  display inline-block
  padding 5px 10px
  font-size 12px
  color #8e8e8e
  cursor pointer
  border-radius 4px
  border 1px solid transparent

  & > .crm-icon
    margin-bottom 5px

  &:hover
    border 1px solid #ddd
