.icon {
    display: inline-block;
    width: 22px;
    height: 22px;
    vertical-align: middle;
}
.icon-user{
    background: url('/images/app/register_user.png') no-repeat center center;
}
.icon-password{
    background: url('/images/app/register_password.png') no-repeat center center;
}
.icon-warn{
    background: url('/images/app/register_warn.png') no-repeat center center;
}
.icon-btn-add{
    background: url('/images/app/btn_add.png') no-repeat center center;
}
.icon-passwd-display{
    background: url('/images/app/display_password.png') no-repeat center center;
}
.icon-passwd-conceal{
    background: url('/images/app/conceal_password.png') no-repeat center center;
}
