.checkbox
  position relative
  display inline-block
  width 18px
  height 18px
  background-size cover
  background-repeat no-repeat
  background-position center
  cursor pointer
  vertical-align middle

  & > input
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    opacity 0

  &.checkbox-unselected
    background-image embedurl('./unselected.png')

  &.checkbox-disabled
    background-image embedurl('./disabled.png')

  &.checkbox-selected
    background-image embedurl('./selected.png')
