.crm-form-page
  position relative

  & > header
    position relative
    margin-bottom 10px

    & > nav
      display inline-block

    & > .search-wrapper
      position absolute
      top 0
      right 0
      height 100%

      & .field-wrapper
        display inline-block
        height 34px
        margin-right 10px
        vertical-align top

        & > label
          display inline-block
          height 100%
          padding 0 10px
          line-height 34px
          background-color #fafafa
          outline none
          border 1px solid #ddd
          vertical-align middle
          font-size 14px

        & > div
          display inline-block
          height 34px
          line-height 34px
          margin-left -1px
          vertical-align middle
          border 1px solid #ddd

          &.input-field
            padding 0 5px

          input
            border none
            outline none
            font-size 14px

          & > .crm-dpl
            border none

            .list
              line-height normal
