.crm-import-page
  display table
  width 100%
  height calc(100% - 35px)
  background #ededed

  & .inner
    display table-cell
    vertical-align middle

    .box
      width 800px
      height 550px
      margin 0 auto
      background-color #fff

      header
        padding 50px 0
        text-align center

        & > div
          margin-bottom 50px

          & > .crm-input-file-full
            margin-right 20px

      footer
        padding 0 100px
        ul
          margin 0
          padding-left 3.5em
          list-style decimal
          font-size 14px

          li
            line-height 1.5
