// 全局样式
@import './global'
@import './colors'

// 组件样式
@import './widget/menu-item'
@import './widget/table'
@import './widget/icon'
@import './widget/input'
@import './widget/indicator'
@import './widget/dpl'
@import './widget/modalbox'
@import './widget/button'
@import './widget/basic-modalbox'
@import './widget/radio'
@import './widget/dropdown-table'
@import './widget/radio-button-group'
@import './widget/datetime-group'
@import './widget/uncontrolled-modalbox'
@import './widget/search-modalbox'
@import './widget/advanced-modalbox'
@import './widget/preview-modalbox'
@import './widget/input-file-button'

// 页面样式
@import './page/bill'
@import './page/tab'
@import './page/statistic'
@import './page/form'
@import './page/basic'
@import './page/import'
