.crm-finance-cost-page
  .crm-radio-button-group
    margin-right 5px
.crm-table-control
  margin 0 auto
  margin-top 10px
  width 900px
  .crm-table-total
    height 50px
    line-height 50px
    width 98.7%
    padding-left 10px
    border: 1px solid rgb(221,221,221)
    border-bottom none